@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: HSL(174, 9%, 22%);
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: HSL(174, 9%, 22%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: HSL(138, 9%, 42%);
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 143 40% 77%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply h-full overflow-x-hidden bg-primary-1 text-zinc-50;
  }
  html {
    @apply h-full;
  }
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 0.45rem;
  }

  ::-webkit-scrollbar-track {
    background: #343e3d;
  }

  ::-webkit-scrollbar-thumb {
    background: #607466;
    border-radius: 999px;
  }
}
