@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply h-full overflow-x-hidden bg-zinc-800 text-zinc-50;
  }
  html {
    @apply h-full;
  }
}

/* ::-webkit-scrollbar {
  width: 0.45rem;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #5033c3;
  border-radius: 999px;
} */
